<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.troylee.pokit" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="Pokit" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>