<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Wiki Gallery</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Wiki Gallery</a>
      </li>
      <li class="active">
        <strong>Images</strong>
      </li>
    </ol>
  </div>
</div>
<div ng-controller="WikiImageCtrl as imgCtrl" class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">
            <h1>New Photo</h1>
            <div class="form_line">
              <div class="form_controls">
                <input type="text" class="form-control" placeholder="File Name" ng-model="title" />
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form_line">
              <div class="form_controls">
                <textarea type="t" class="form-control" placeholder="Description" ng-model="description"></textarea>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form_line">
              <button class="btn btn-primary btn-block" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true">Upload</button>
            </div>
            <div class="hr-line-dashed"></div>
            <a ui-sref="index.wiki-image" class="btn btn-w-m btn-link">Back to Gallery</a>
            <h2>Status</h2>
            <div class="file" ng-repeat="file in files">
              <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
              <div class="status">{{file.status}}</div>
              <uib-progressbar value="{{fileProgress}}" type="success" class="progress-striped active"></uib-progressbar>
              <div class="form_line">
                <div class="form_controls">
                  <div class="preview">
                    <img ngf-src="file.result.url || file">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
      <div class="row">
        <div class="col-lg-12"
             infinite-scroll="imgCtrl.WikiImage.GetAllWikiImages()" 
             infinite-disable="imgCtrl.WikiImage.busy"
             infinite-scroll-distance="1">
          <div ng-repeat="image in imgCtrl.WikiImage.images" class="file-box animated fadeInRight">
            <div ng-if="image" class="file">
              <a href="">
                <span class="corner"></span>
                <div class="">
                  <img class="img-responsive" alt="{{image.imageDescription}}" src="{{image.imageUrl}}">
                </div>
                <div class="file-name">
                  {{image.imageName}}.{{image.imageMediaType}}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>